<p id="notice"><%= notice %></p>
<h1><%= @menu_item.name %></h1>
<p><strong>Price:</strong> $<%= @menu_item.price %></p>

<p><h3>Ingredients</h3></p>
<ul>
  <% @ingredients.each do |recipe| %>
      <li><%= recipe.ingredient.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
